body ,h1,h1,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
    font-size: 16px;
    list-style: none;
    /*background: #ffffff;*/
}
body{
    background: #e9eaed;
}
li{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
h1,h2,h3{
    text-decoration: none;
}
.logo{
    height: 150px;
    width: 150px;
    padding:50px 40px 40px 40px;
    box-sizing: border-box;
    border-radius: 50%;
    /*no-repeat*/
    background:  url("../html/image/yyk.jpg")  rgba(0,193,222,0.6);
    background-size:100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s cubic-bezier(1, 1, 1,1);
    z-index: 999;
    opacity: 0.4;

    /*background-image:url(../html/image/yyk.jpg);*/
    /*background-repeat: ;*/
}
.slide{
    width: 250px;
    height: auto;
    background: #ffffff;
    float: right;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

}
.title{
    height: 41px;
    border-bottom: 1px solid #e4e3e3;
    line-height: 41px;
    color: #333333;
    font-size: 16px;
/*    position: relative;*/
/*}*/
/*.title:before{*/
/*    content: '';*/
/*    background: #1c2327;*/
/*    height: 2px;*/
/*    width: 64px;*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 40px;*/
/*    left: 0;*/
/*}*/
position: relative;
}
.title:before{
    content: '';
    background: #1c2327;
    height: 2px;
    width: 64px;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.5s ease;
}
.title:hover:before{
    width: 80px;
}
.header{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background: #1c2327;
    position:  relative;

}
.header:before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    top :0;
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
}
.header .left{
    margin-left: 50px;
    width: 13.1771%;
    height: 60px;
    background: #1c2327;
    float: left;

}
.header  h1{
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    background: none;
}
.header .middle{
    width: 52.70%;
    height: 100%;
    padding-left: 50px;
    margin-left: 50px;
    background: #1c2327;
    float: left;
    overflow: hidden;
}
.header li a{
    /*vertical-align: middle;*/
    font-size: 13px;
    font-weight: bold;
    line-height: 60px;
    color: #ffffff;

    float: left;
    margin-right: 36px;
}
.header li a:hover{
    color: #00c1de;
}
.header .right{
    width: 3.66%;
    height: 100%;
    margin-left: 20px;
    /*margin: 0 auto;*/
    background: #1c2327;
    float: left;
}
.header .right a{
}
.header .right img{
    height: 39px;
    width: 39px;
    margin-top: 10px;
    margin-left: 30px;
}
.bodyPart{
    border-radius: 5px;
    width: 1200px;
    height: 1200px;
    background: azure;
    /*margin-top: 20px;*/
    margin: 0 auto;
}
.takeTurn{
    border-radius: 5px;
    width: 1200px;
    height: 290px;
    margin: 20px auto;
    background: none;
}
.takeTurn .turnLeft{
    border-radius: 5px;
    width: 600px;
    height: 100%;
    background: #1c2327;
    float: left;
}
.turnLeft {
    width: 600px;
    height: 290px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.turnLeft  .turnA {
    border-radius: 5px;
    width: 600px;
    height: 290px;
    position: absolute;
    /*transition: all 1.5s cubic-bezier(0, 0, 0, 0);*/
    left: 600px;

}
.turnLeft .turnLeftUl  li:nth-child(1) a{
    left: 0px;
}
.turnLeft img{
    border-radius: 5px;
    width: 600px;
    height: 290px;
    /*opacity: 0;*/
}
.turnLeft .leftBut {
    width: 40px;
    height: 32px;
    /*margin-left: 50px;*/
    background: none;
    position: absolute;
    top:129px;
    left:50px;
    z-index: 999;
    /*margin: auto 0 auto 50px;*/
 }
.turnLeft .leftBut img{
    width: 40px;
    height: 32px;
    /*overflow: hidden;*/
}
.turnLeft .rightBut {
    width: 40px;
    height: 32px;
    /*margin-right: 50px;*/
    background: none;
    position: absolute;
    top: 129px;
    left: 510px;
    z-index: 999;
    /*margin: auto 50px auto 0;*/
}
.turnLeft .rightBut img{
    width: 40px;
    height: 32px;
}
.turnLeft .bottomBut{
    width: 96px;
    height: 10px;
    background: none;
    position: absolute;
    left: 252px;
    top: 265px;
    z-index: 999;
    /*margin: 0 auto 20px auto;*/
}
.turnLeft .bottomBut div{
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 14px;
    /*overflow: hidden;*/
}
.turnLeft .bottomBut a{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffffff;

    /*overflow: hidden;*/
    display: block;
}
.takeTurn .turnMiddle{
    border-radius: 5px;
    width: 290px;
    height: 100%;
    margin: 0 10px;
    border-radius: 5px;
    background: beige;
    float: left;
}
.takeTurn .top{
    border-radius: 5px;
    width: 290px;
    height: 140px;
    /*margin: 0 10px;*/
    background: #1c2327;
    float: left;
}
.turnMiddle .top a{
    border-radius: 5px;
    height: 140px;
    width: 290px;
    position: relative;
    display: block;
    overflow: hidden;
}
.turnMiddle  .top img{
    border-radius: 5px;
    height: 140px;
    width: 290px;
    position: absolute;

    opacity: .7 ;
    transition: all 1.5s ease;
}
.turnMiddle  .top :hover img{
    transform: scale(1.5,1.5);
    opacity: 1;
}

.turnMiddle   p{
    color: #ffffff;
    height: auto;
    width: 232px;

    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;


    position: absolute;
    top: 50px;
    left: 30px;
    text-align: center;
}
.takeTurn .bottom{
    border-radius: 5px;
    height: 140px;
    width: 290px;
    margin-top: 10px;
    background: #1c2327;
    float: left;
}

.turnMiddle .bottom a{
    border-radius: 5px;
    height: 140px;
    width: 290px;
    position: relative;
    display: block;
    overflow: hidden;
}
.turnMiddle  .bottom img{
    border-radius: 5px;
    height: 140px;
    width: 290px;
    position: absolute;
    opacity: .7 ;
    transition: all 1.5s ease;
}
.turnMiddle  .bottom :hover img{
    transform: scale(1.5,1.5);
    opacity: 1;
}
/*.turnMiddle .bottom a{*/
/*    border-radius: 5px;*/
/*    height: 140px;*/
/*    width: 290px;*/
/*}*/
/*.turnMiddle .bottom img {*/
/*    border-radius: 5px;*/
/*    height: 140px;*/
/*    width: 290px;*/
/*}*/
.takeTurn .turnRight{
    border-radius: 5px;
    width: 290px;
    height: 100%;
    background: #2a2a2a;
    float: right;
}
.turnRight h1{
    color: #89918c;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;
    background: none;
}
.turnRight li{
    color: #d0d2d4;
    margin-left: 20px;
    margin-top: 20px;
    background: none;
}
.turnRight .icon{
    padding: 16px 20px 0 20px;

}
.turnRight .icon li{
    float: left;
    padding: 10px 12px;
    margin: 6px 4px;
    border-radius: 50%;
    /*background: #f7f7f7;*/
    box-shadow:
    0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
}
.turnRight .icon li img:hover {
    opacity: 0.6;
}
.diary{
    border-radius: 5px;
    width: 1200px;
    height: 300px;
    margin: 20px auto;
    background: none;
}
.diary .diaLeft{
    border-radius: 5px;
    width: 900px;
    height: 100%;
    background: beige;
    float: left;
}
.diaTitle{
    height: 41px;
    border-bottom: 1px solid #e4e3e3;
    line-height: 41px;
    color: #333333;
    font-size: 16px;
    position: relative;
}
.diaTitle:before{
    content: '';
    background: #1c2327;
    height: 2px;
    width: 96px;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.5s ease;
}
/*.diaTitle:hover:before{*/
/*    width: 110px;*/
/*}*/
.diaTop li{
    display: block;
    font-size: 16px;
    line-height: 40px;
    float: left;
    width: 100px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background: none;
}
/*.diary .diaRight{*/
/*    width: 290px;*/
/*    height: 100%;*/
/*    background: beige;*/
/*    float: right;*/
/*}*/
.diary .diaTop{
    /*height: 60px;*/
    /*width: 900px;*/
    /*background: aqua;*/
    /*margin-bottom: 8px;*/
    width: 860px;
    background: #ffffff;
    float: right;
    border-radius: 5px;
    padding: 20px;
}
.diary .diaBot{
    height: 290px;
    width: 900px;
    margin-top: 10px;
    background: #ffffff;
}
.diary .left{
    margin-left: 10px;
    height: 230px;
    width: 270px;
    background: #ffffff;
    float: left;
    margin-top: -18px;
}

.diaBot .left .top a , .diaBot .left .bottom a{
    border-radius: 5px;
    height: 102px;
    width: 264px;
    margin-top: 10px;

    display: block;
    overflow: hidden;

    position: relative;

    background: #4a4a4a;
}
.diaBot .left .top img ,.diaBot .left .bottom img {
    border-radius: 5px;
    height: 102px;
    width: 264px;
    opacity: .7 ;
    transition: all 1.5s ease;
}
.diaBot  .top :hover img, .diaBot  .bottom :hover img{
    transform: scale(1.5,1.5);
    opacity: 1;
}
.diaBot .left .top p , .diaBot .left .bottom p{
    color: #ffffff;
    height: auto;
    width: 216px;

    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;


    position: absolute;
    top: 24px;
    left: 24px;
    text-align: center;
}
/*.diaBot .left .bottom p{*/
/*    position: absolute;*/
/*    top: 32px;*/
/*}*/
.diary .right{
    height: 210px;
    width: 560px;
    background: #ffffff;
    margin-left: 20px;
    float: left;
    margin-top: -5px;
    padding: 0 5px;
}
.diary .right li {
    background: #ffffff;
    margin-bottom: 10px ;
    position: relative;
}
.diary .right .hot {
    background: #f7f7f7;
    margin-bottom: 10px ;
    position: relative;
}
.diary .right a{
    color: #333333;
    font-weight: bolder;

    background: #ffffff;
    margin-top: 5px;
    margin-left: 15px;
}
.diary .right a:before{
     content: '';
     height: 21px;
     width: 21px;
     display: block;
     background: #9a9a9a;
     float: left;
 }
.diary .right .hot a:before{
    content: '';
    height: 21px;
    width: 21px;
    display: block;
    background: #1c2327;
    float: left;
}
.diary .right li:nth-child(1):before{
    content: '1';
    color: #ffffff;
    position: absolute;
    left: 1%;
}

.diary .right li:nth-child(2):before{
    content: '2';
    color: #ffffff;
    position: absolute;
    left: 1%;
}
.diary .right li:nth-child(3):before{
    content: '3';
    color: #ffffff;
    position: absolute;
    left: 1%;
}
.diary .right li:nth-child(4):before{
    content: '4';
    color: #ffffff;
    position: absolute;
    left: 1%;
}
.diary .right li:nth-child(5):before{
    content: '5';
    color: #ffffff;
    position: absolute;
    left: 1%;
}
.diary .right p{
    line-height: 1.5;
    color: #333333;
    padding: 5px 0;

    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    display: none;
}
.diary .right .hot p{
    line-height: 1.5;
    color: #333333;
    padding: 5px 0;

    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    /*display: none;*/
}
/*.diary .right li{*/
/*    border-radius: 5px;*/
/*    list-style: square;*/
/*    height: 31px;*/
/*    margin-top: 5px;*/
/*}*/
.diary .right li a{

}
/*.diary .right{*/
/*    border-radius: 5px;*/
/*    height: 210px;*/
/*    width: 620px;*/
/*    margin-left: 10px;*/
/*    background: blue;*/
/*    float: left;*/
/*}*/
.diary .top{
    height: 102px;
    margin: 6px 0 6px 6px;
    /*background: #4a4a4a;*/
    border-radius: 5px;
}
.diary .bottom{
    height: 102px;
    margin: 6px 0 6px 6px;
    /*background: #4a4a4a;*/
    border-radius: 5px;
}

.diary .diaRight .bottom{
    background: none;
    height: auto;
    padding-top: 6px;
}
.diary .diaRight li{
    font-size: 12px;
    padding-left: 14px;
    background: #f6f6f6;
    height: 38px;
    margin-top: 12px;

    line-height: 38px;
    text-indent: 10px;
    /*省略显示*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    position: relative;
}
.diary .diaRight li::before{
    content: "";

    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;

    position: absolute;
    left: 10px;
    top: 18px;
}
.max{
    height: auto;
    width: 1200px;
    margin: 10px auto;
    background: none;
}
.max .wide{
    height: 100%;
    width: 900px;
    background: none;
    float: left;
    border-radius: 5px;
    /*overflow: hidden;*/
}

.max .special{
    border-radius: 5px;
    height: 740px;
    width: 100%;
    background: #ffffff;
    margin-bottom: 20px;
    position: relative;
}
.special .top{
    /*height: 60px;*/
    /*background: aqua;*/
    width: 860px;
    background: #ffffff;
    /*float: right;*/
    border-radius: 5px;
    padding: 20px;
    float: left;
}
.special .speTitle {
    height: 41px;
    width: 100%;
    border-bottom: 1px solid #e4e3e3;
    line-height: 41px;
    color: #333333;
    font-size: 16px;
    float: left;
    position: relative;
}
.special .speTitle:before{
    content: '';
    background: #1c2327;
    height: 2px;
    width: 64px;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.5s ease;
}
.special .speTitle:hover:before{
    width: 80px;
}

.special .top .many{
    float: right;
}
.special .top li{
    float: left;
    display: block;
    margin-left: 15px;
}
.special .bot{
    border-radius: 5px;
    height: 640px;
    /*margin-bottom: 10px;*/
    background: #ffffff;
    /*padding-top: 20px;*/
    padding-left: 30px;
    margin-bottom: 20px;
}
.special .bot:before{
    content: '';
    height:622px;
    width: 1px;
    background: #ffffff;
    display: block;
    position: absolute;
    top: 81px;
}
.special .bot li{
    height: 270px;
    width: 230px;
    /*margin : 10px;*/
    padding: 20px;
    background: #ffffff;
    float: left;
    border-left: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
    transition: all .5s ease;
}
.special li:hover {
    background: #fff;
    box-shadow:  0 0 10px 0 #ccc;
}
.special li:hover img {
    transform: scale(1.05)
}
.special .bot li:nth-child(4) , .special .bot li:nth-child(5) , .special .bot li:nth-child(6){
    border-bottom: none;
}
.special .bot .imgA{
    border-radius: 5px;
    width: 230px;
    height: 140px;
}
.special .bot img{
    border-radius: 5px;
    width: 230px;
    height: 140px;
}
.special .bot h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.special .bot p{
    font-size: 14px;
    color: #999999;
    line-height: 1.5;
    height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 20px;
}
.special .bot .textA{
    margin-top: 10px;
    color: #009966;
}
.special .bot .textA::before{
    color: #009966;
    content: '+';
}
.max .www{
    border-radius: 5px;
    height: 130px;
    width: 860px;
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
}
.max .www a{
    height: 130px;
    width: 860px;
}
.max .www img{
    height: 130px;
    width: 860px;

}
.max .new{
    border-radius: 5px;
    height: auto;
    width: 860px;
    padding: 20px;
    overflow: hidden;
    background: #ffffff;
}
.new .top{
    width: 860px;
    background: #ffffff;
    float: left;
    overflow: hidden;
    /*display: block;*/
    border-radius: 5px;
}
.newTitle{
    height: 41px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e3e3;
    line-height: 41px;
    color: #333333;
    font-size: 16px;
    position: relative;
}
.newTitle:before{
    content: '';
    background: #1c2327;
    height: 2px;
    width: 64px;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.5s ease;
}
.newTitle:hover:before{
    width: 80px;
}
.new ul {
    margin-top: 10px;
    background: #ffffff;
}
.new ul li{
    margin-bottom: 20px;
    padding-bottom: 20px;
    /*overflow: hidden;*/
    display: block;
    border-bottom: 1px #eeeeee dashed;
    height: auto;
}
.new ul li h3{
    margin-bottom: 10px;
}
.new .aImg{
    width: 200px;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 20px;
    /*overflow: hidden;*/
}
.new img{
    border-radius: 5px;
    width: 100%;
}
.new .long{
    margin-top: 20px;
    /*display: -webkit-box;*/
}
.new .integration{
    margin-top: 0;
    height: 40px;
}
.new .pendant{
    height: 50px;
    width: 47px;
    float: left;


}
.new .pendant img{
    /*height: 30px;*/
    /*width: 30px;*/
}
.new .date{
    float: left;
    line-height: 50px;
    margin: 0 5px;
}

.new .design{

    float: left;
    line-height: 50px;
    margin: 0 5px;
}
.new .design b{
    float: left;
}
.new .design p{
    color: #009966;
    float: left;
}
.new .more {
    color: #ffffff;
    height: 22px;
    width: 80px;
    border-radius: 5px;
    background: #12B7DE;
    float: right;
    margin-top: 10px;
    padding: 6px 0;
    text-align: center;
}
/*.max .narOne{*/
/*    height: 510px;*/
/*    width: 100%;*/
/*    background: #9affb5;*/
/*}*/
.max .narrow{
    height: auto;
    width: 290px;
    background: none;
    float: right;
}
.narOne .slide{
    margin-bottom: 20px;
}

.narOne .slide .slidePh {
    position: relative;
    border-radius: 5px;
    width: 250px;
    height: 110px;

    background: #1c2327;

    margin-top: 10px;

    display: block;
    overflow: hidden;
}
.narOne .slide .slidePh img{
    position: absolute;

    border-radius: 5px;
    width: 250px;
    height: 110px;
    overflow: hidden;

    opacity: .7 ;
    transition: all 1.5s ease;
}
.narOne .slide .slidePh:hover img{
    transform: scale(1.5,1.5);
    opacity: 1;
}

.narOne .slide .slidePh p{
    color: #ffffff;
    height: auto;
    width: 202px;

    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;


    position: absolute;
    top: 36px;
    left: 26px;
    text-align: center;
}
/**/

/**/

.narrow .narOneBot{
    background: #ffffff;
    height: auto;
}
.narrow .narOne ul{
    height: auto;
}
.narrow .narOne li{
    background: #f6f6f6;
    height: 38px;
    margin-top: 12px;
    line-height: 38px;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.narrow .narOne li i{
    width: 16px;
    height: 16px;
    background: #B1B1B1;
    margin-top:11px;
    margin-left: 11px;

    float: left;
    /*display: block;*/

    position: relative;
}
/*伪类控制的特殊效果*/
.narrow .narOne li:nth-child(2n){
    background: none;
}
.narrow .narOne li:nth-child(1) i,.narrow .narOne li:nth-child(2) i, .narrow .narOne li:nth-child(3) i{
    background: #FF6600;
}
.narrow .narOne li:nth-child(1) i::before {
    content: '1';
}
.narrow .narOne li:nth-child(2) i::before {
    content: '2';
}
.narrow .narOne li:nth-child(3) i::before {
     content: '3';
 }
.narrow .narOne li:nth-child(4) i::before {
      content: '4';
  }
.narrow .narOne li:nth-child(5) i::before {
       content: '5';
   }
.narrow .narOne li:nth-child(6) i::before {
        content: '6';
    }
.narrow .narOne li:nth-child(7) i::before {
         content: '7';
     }
.narrow .narOne  i::before{
    color: #ffffff;

    position: absolute;
    left: -8px;
    top: -10px;
}
/*.narrow .narOne li i{*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    background: #1c2327;*/

/*}*/
/*.max .narTow{*/
/*    height: 730px;*/
/*    width: 100%;*/
/*    margin: 10px 0;*/
/*    background: #9affb5;*/
/*}*/

.narTow .slide .slidePh {
    position: relative;
    border-radius: 5px;
    width: 250px;
    height: 110px;
    overflow: hidden;
    margin-top: 10px;
    display: block;
    background: #1c2327;
}
.narTow .slide .slidePh img{
    position: absolute;

    border-radius: 5px;
    width: 250px;
    height: 110px;
    overflow: hidden;

    opacity: .7 ;
    transition: all 1.5s ease;
}
.narTow .slide .slidePh:hover  img{
    transform: scale(1.5,1.5);
    opacity: 1;
}

.narTow .slide .slidePh p{
    color: #ffffff;
    height: auto;
    width: 202px;

    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;


    position: absolute;
    top: 36px;
    left: 26px;
    text-align: center;
}
.narTow .narTowBot li{
    height: 70px;
    width: 250px;
    margin-bottom: 10px;
    background: #f6f6f6;
    display: block;
}
.narTow .narTowBot li a{
    height: 70px;
    width: 70px;
    float: left;
    display: block;
}
.narTow .narTowBot li img{
    height: 70px;
    width: 70px;
    float: left;
    display: block;
}
.narTow .narTowBot li p{
    text-align: left;
    padding-top: 15px;
    padding-left: 10px;
    /*float: left;*/
    display: block;
    overflow: hidden;
    margin-top: 10px;
    /*line-height: 50px;*/
    max-height: 40px;
    font-size: 14px;

    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.max .narThi , .max .narFiv{
    border-radius: 5px;
    padding: 20px;
    height: 182px;
    width: 250px;
    background: #ffffff;
    float: right;
    margin-bottom: 20px;
}
.max .narThi a, .max .narFiv a{
    height: 182px;
    width: 250px;
}
.max .narThi img, .max .narFiv img{
    height: 182px;
    width: 250px;
}
/*.max .narFor{*/
/*    height: 544px;*/
/*    width: 100%;*/
/*    margin: 10px 0;*/
/*    background: #9affb5;*/
/*}*/
.max .narFor li{
    margin-top: 5px;
    padding-left: 20px;
    line-height: 2;
    font-size: 15px;
    position: relative;
}

.max .narFor li:before{
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #1c2327;
    position: absolute;
    top: 14px;
    left: 4px;
}

.max .narFiv{
    height: 182px;
    width: 250px;
    background: #ffffff;
}
/*.max .narSix{*/
/*    height: 500px;*/
/*    width: 100%;*/
/*    margin: 10px 0;*/
/*    background: #9affb5;*/
.max .narSix li{
    margin-top: 2px;
    line-height: 2;
    font-size: 15px;
}
.max .narSix .imgA{
    height: 250px;
    width: 250px;
}
.max .narSix img{
    height: 250px;
    width: 250px;
}
.max .narSix a{
    color: #009966;
}
.max .narSev{
    border-radius: 5px;
    float: right;
    /*margin-top: 20px;*/
    height: auto;
    padding: 20px;
    width: 250px;
    background: #ffffff;
}
.max .narSev .top{
    font-weight: normal;
    background: none;
    /*font-size: 16px;*/
    line-height: 41px;
    border-bottom: 1px #e4e3e3 solid;
    position: relative;
}
.max .narSev .top:before{
    content: '';
    background: #1c2327;
    height: 2px;
    width: 64px;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.5s ease;
}
.max .narSev .top:hover:before{
    width: 80px;
}
.max .narSev .friend{
    font-weight: normal;
    font-size: 19px;
    color: #1c2327;
}

.longBot{
    width: 100%;
    height: 124px;
    margin-top: 20px;
    border-top: 10px solid #00c1de;
    background: #373d41;
    padding: 39px 39px 18px 99px;
}

.longBot .one{
    width:100px ;
    height: 121px;
    /*background: #eaff40;*/
    float: left;
}
.longBot .one img{
    width:100px ;
    height: 100px;
}

.longBot .two{
    width:100px ;
    height: 121px;
    /*background: #eaff40;*/
    float: left;
    margin-left:  39px ;
    margin-right: 20px;
}
.longBot .two img{
    width:100px ;
    height: 100px;
}
.longBot  .pp{
    color: #73777A;
    margin-top: 0;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.longBot .txt{
    margin-left: 20px;
    display: block;
    color:#73777A ;
    line-height: 1.5;
}
footer{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10%;
    right: 20px;
}
footer a{
    height: 30px;
    width: 30px;
    padding: 5px;
    display: block;
    background: #1c2327;
}
footer a img{
    height: 30px;
    width: 30px;
}